body {
  background-color: rgb(30, 30, 30);
  font-family: "Edu SA Beginner", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(185, 185, 185);
  padding: 0.2rem;
  color: rgb(60, 60, 60);
}

input:focus,
textarea:focus {
  background-color: rgb(220, 190, 250);
  color: rgb(32, 15, 65);
  border-color: rgb(32, 15, 65);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(32, 15, 65);
  color: white;
  border: 1px solid rgb(32, 15, 65);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border-color: rgb(50, 15, 100);
  background-color: rgb(50, 15, 100);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
